* {
    box-sizing:border-box ;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/*cabeçalho*/

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    padding: 15px;
    color: #727272;
}

nav a:hover {
    background-color: #39aae1;
    color: white;
}


#banner {
    display: flex;
    justify-content: center;
    background-image:url(../images/img1.jpg);
    background-position:center;
    background-size: cover;
    height: 670px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 990px;
}

.banner_cima {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;   
}

.banner_cima h1 {
    font-size: 70px;
    color: white;
    text-shadow: 1px 2px 0px #555555;
    margin: 0;
    padding: 0;
    width: 400px;
}

.banner_cima h2 {
    text-shadow: 0px 1px 0px #555555;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 300px;
}

.banner_baixo {
    flex-direction: row;
    justify-content: center;
    display: flex;
    color: white;
    
}

#div1 {
    padding: 20px;
    height: 170px;
    flex: 1;
    background-color: #39aae1;
    font-size: 21px;
}

#div1 p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

#div1 a {
    background-color: #39aae1;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1px solid white;
    font-size: 14px;
}

#div2 {
    padding: 20px;
    height: 170px;
    flex: 1;
    background-color: #0079c7;
    font-size: 21px;
}

#div2 p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

#div2 a {
    background-color: #0079c7;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1px solid white;
    font-size: 14px;
}


#div3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 170px;
    flex: 1;
    background-color: #2b4c99;
    font-size: 21px;
}

#div3 .div3b {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #506cad;
    font-size: 12px;
}

#div2 a:hover, #div1 a:hover {
    transition: all 0.3s linear;
    height:30px;
    width: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 4px black;
}

/*corpo da pagina*/

#geral {
    display: flex;
    justify-content: center;
}

.container section {
    background-color: white;
    color: black;
}
.container aside {
    background-color: white;
    color: black;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

/*corpo da pagina - Departamentos*/

.widget_title {
    margin-top: 30px;
}

.widget_title_text {
    font-weight: bold;
    font-size: 22px;
}

.widget_title_bar {
    background-color: #39aae1;
    width: 50px;
    height: 2px;
    margin-top: 10px;
}

.noticia_area {
    margin-top: 20px;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 500px;
}

.noticias {
    height: 150px;
    width: 150px;
    background-color: #0079c7;;
}

/*corpo da pagina - Marque um Consulta*/

.widget_contact {
    margin-top: 10px;
    display: flex;
}

.widget_contact li {
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: #727272 solid 1px;
}

/*corpo da pagina - Ultimas noticias*/

.widget_body_flex {
    display: flex;
    flex-wrap: wrap;   
    
}

.widget_body_flex a {
    text-decoration: none;  
}

article {
    flex: 1;
    min-width: 200px;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-top: 20px;
}


.news_data {
    display: flex;
}

.news_posted {
    background-color: #2b4c99;
    color: white;
    padding: 10px;
    margin-right: 5px;
    font-size: 15px;
}

.news_coments {
    padding: 10px;
    color: white;
    background-color: #39aae1;
    font-size: 15px;

}

.widget_title {
    color: black;
    font-size: 20px;
}

.widget_text {
    color: #5c5c5c;
    line-height: 23px;
}

.widget_tumbnail {
    margin-top: 30px;
}

.widget_tumbnail img {
    width: 100%;
    height: auto;
}

/*rodape - footer_cima*/

.container_footer {
    background-color:#1e1e1e;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.footer_menu a {
    display: flex;
    flex-direction: row;
    width: 990px;
    margin-bottom: 50px;
    justify-content: center;
    text-decoration: none;
}

.fmenu1 {
    background-color: #39aae1;
    font-size: 25px;
    color: white;
    padding: 18px;
}

.fmenu1 p {
    font-size: 13px;
}

.fmenu2 {
    background-color: #0079c7;
    font-size: 25px;
    color: white;
    padding: 18px;
}

.fmenu2 p {
    font-size: 13px;
}

.fmenu3 {
    background-color: #2b4c99;
    font-size: 23px;
    color: white;
    padding: 18px;
}

.fmenu3 p {
    font-size: 13px;
}


/*rodape - footer_area*/

.footer_area {
    display: flex;
    width: 990px;
 
}

.footer_areaitem {
    flex: 1;
    justify-content: space-between;
    color: white;
    margin-right: 20px;
}

.footer_areaitem .widget_body {
    margin-top: 30px;
}

.widget_body2 {
    font-size: 13px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    color: #5c5c5c;
}


.coments {
    font-size: 13px;
    color: #5c5c5c;
    margin-bottom: 40px;
}

.data_p {
    line-height: 1px;
    font-size: 11px;
    color: #39aae1;
}


.footer_copy div {
    width: 990px;
    font-size: 13px;
    margin-top: 30px;
    color: #5c5c5c;
    border-top: 1px solid #5c5c5c;
    line-height: 70px;
}
